body {
    background-image: url(images/background.jpg);
    background-size: cover;
}

h1 {
    margin-bottom: 30px, 0, 0, 0;
}

h1,h2 {
    text-align: center;    
}

.grid{
    height: 606px;
    width: 606px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
}

.mole {
    background-image: url(images/Moley.jpg);
    background-size: cover;
}

.mole2 {
    background-image: url(images/moley2.jpg);
    background-size: cover;
}