body {
    background-image: url(images/background.jpg);
    background-size: cover;
    margin: 0px;
}

h1 {
    margin: 30px, 0, 0, 0;
}

h2 {
    color: red;
}

h1,h2 {
    text-align: center;    
}

h3{
    margin:auto;
    display:block;
    /* flex-wrap: wrap; */
    font-size: larger;
    position: relative;
}

.logo {
    background-image: url(images/WATERWAIVER.png);
    background-size: cover;
}

.top{
    height: 100px;
    width: 630px;
    display: flex;
    flex-wrap: wrap;    
    margin: auto;
    position: relative;
    background-color: blueviolet;
}

.top-child{
    height: 10px;
    width: 100px;
    /* border: solid black 1px; */
    position: relative;
    /* left: 50px; */
    flex-wrap: wrap;
    margin: auto;
}

.grid{
    height: 630px;
    width: 630px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 30px;

}

.square {
    height: 200px;
    width: 200px;
    border: solid black 5px;
}

.num1 {
    background-image: url(images/10.png);
    background-size: cover;
}

.num2 {
    background-image: url(images/1.png);
    background-size:cover;
}

.num3 {
    background-image: url(images/5.png);
    background-size: cover;
}

#btn-start{
    margin: auto;
    /* position: absolute; */
}

#btn-next{
    margin: auto;
    
    /* position: absolute; */
}

#btn-restart{
    margin: auto;
    
    /* position: absolute; */
}

/* <style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/w3images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style> */