body {
    background-image: url(images/background.jpg);
    background-size: cover;
    margin: 0px;
}

.main{
    padding: 389px;
}

h1 {
    margin: 30px, 0, 0, 0;
    color:black;
}

h2 {
    color: red;
}

h1,h2 {
    text-align: center;    
}

h3{
    margin:auto;
    display:block;
    /* flex-wrap: wrap; */
    font-size: larger;
    position: relative;
}

.lets-play-btn{
    margin: auto;
    position: relative;
}

.logo {
    background-image: url(images/WATERWAIVER.png);
    background-size: cover;
}

.top{
    height: 100px;
    width: 630px;
    display: flex;
    flex-wrap: wrap;    
    margin: auto;
    position: relative;
    background-color: blueviolet;
    border: solid yellow 5px;

}

.top-child{
    height: 10px;
    width: 100px;
    /* border: solid black 1px; */
    position: relative;
    /* left: 50px; */
    flex-wrap: wrap;
    margin: auto;
}

.grid{
    height: 630px;
    width: 630px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 30px;

}

.square {
    height: 200px;
    width: 200px;
    border: solid black 5px;
}

.num1 {
    background-image: url(images/num1.jpg);
    background-size: cover;
}

.num2 {
    background-image: url(images/num2.jpg);
    background-size:cover;
}

.num3 {
    background-image: url(images/num3.jpg);
    background-size: cover;
}

.num4 {
    background-image: url(images/num4.jpg);
    background-size: cover;
}

.num5 {
    background-image: url(images/num5.jpg);
    background-size:cover;
}

.num6 {
    background-image: url(images/num6.jpg);
    background-size: cover;
}

.num7 {
    background-image: url(images/num7.jpg);
    background-size: cover;
}

.num8 {
    background-image: url(images/num8.jpg);
    background-size:cover;
}

.num9 {
    background-image: url(images/num9.jpg);
    background-size: cover;
}

#letsPlay {
    margin: auto;
    /* position: absolute; */
    width: 200px;
    height: 50px;
    border: none;
    color: black;
    background-color: purple;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-out 0.3s;
    font-size: 1rem;
}

#letsPlay:hover {
    box-shadow: inset 200px 0 0 0 yellow;;
}

#btn-start{
    margin: auto;
    /* position: absolute; */
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-size: 1rem;
}

#btn-start:hover {
    box-shadow: inset 100px 0 0 0 #f9e506;;
}

#btn-next{
    margin: auto;
    /* position: absolute; */
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-size: 1rem;
}

#btn-next:hover {
    box-shadow: inset 100px 0 0 0 #f9e506;;
}

#btn-restart{
    margin: auto;
    /* position: absolute; */
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 2px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-size: 1rem;
}

#btn-restart:hover {
    box-shadow: inset 100px 0 0 0 #f9e506;;
}

#timeleft {
    margin:auto;
    position: absolute;
    text-align: center;
}

/* <style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/w3images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style> */